* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: green;
}

header {
  background: steelblue;
  width: 80%;

  padding: 2rem;
  margin: 0 auto;

  overflow: auto;
}

.player-name {
  float: left;

  background: tan;
}

.total-cash {
  float: right;

  background: tan;
}

main {
  width: 80%;
  margin: 0 auto;
  overflow: auto;
}

main > section {
  float: left;
  background: white;
  width: 50%;
  min-height: 400px;
  padding: 3rem 0.5rem;
}

section h2 {
  font-size: .8rem;
  font-weight: bold;
  text-align: center;
}

main {
  box-shadow: 2px 2px 3px black;
}
