* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* 8-bit font I found online! */
@font-face {
		font-family: ArcadeFont;
		src: url('fonts/ARCADEPI.TTF');
}

/* didn't use these two fonts, but might in future updates

@font-face {
		font-family: EightBitFont;
		src: url('fonts/8bit16.ttf');
}

@font-face {
		font-family: EightBitMadness;
		src: url('fonts/8-bit Madness.ttf');
} */

body {
  background: #00951E;
  font-family: ArcadeFont, serif;
}

/* h1 at the top of the app */
.intro-head {
  font-size: 3rem;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

  text-align: center;

  padding: 1rem;
}

/* dealer face (from Vegas Dream, NES) under the h1, top of app */
.intro-image {
  padding: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* this header contains the player name and bankroll info */
header {
  background: #006BED;
  width: 80%;

  font-size: 1.5rem;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  padding: 2rem;
  margin: 0 auto;

  overflow: auto;

  border-radius: 25px;
  border: 20px ridge white;
}

/* to the left to the left */
.player-name {
  float: left;
}

.total-cash {
  float: right;
}

/* this contains the card totals for the player and dealer,
as well as the player betting information / action buttons.
Also contains the player and dealer card views */
main {
  width: 80%;
  margin: 0 auto;
  overflow: auto;

  background-image: url("images/background-gif.gif");
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  border-radius: 25px;
  border: 20px ridge #9FE5FA;
  box-shadow: 2px 2px 3px black;
}

/* creating two columns, essentially: one for dealer, one for player */
main > section {
  float: left;

  width: 50%;
  height: 400px;
  padding: 3rem 0.5rem;
}

section h2 {
  padding: 1rem .5rem;
  border: 10px double white;
}

/* this includes the label and input field for player bet */
.bet-stuff {
  font-size: 1.3rem;
  padding: .5rem 0;
}

/* styling the bet input field */
#player-bet {
  height: 1.5rem;
  width: 10rem;
  box-shadow: 2px 2px 3px white;

  text-align: center;
  vertical-align: text-bottom;

  font-size: 1rem;
  font-family: ArcadeFont, serif;
}

/* all the buttons! */
button {
  background: grey;
  float: left;

  font-size: 1rem;
  font-family: ArcadeFont, serif;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

  text-align: center;

  padding: 1rem;
  padding-top: 1rem;
}

/* div that contains the three play action buttons */
.play-buttons {
  padding: .5rem 0rem;
}

.play-buttons button {
  padding: 0 1rem;
}

/* as soon as cards are dealt and views are created, the card views
are given the class card-in-play */
.card-in-play {
  width: 84px;
  height: 124px;

  float: left;

  background: url(images/CardsSpriteSheet.png) 0 0;
  background-repeat: no-repeat;
  background-size: 1300% 400%;
}

/* pushing the dealer's cards down just a bit */
.dealer-cards div {
  margin-top: 1rem;
}

/* for mario background on first dealer card */
.dealer-cards .card-in-play:first-of-type {
  width: 84px;
  height: 124px;

  background: url(images/mario-cards-back-no-bg.png);
  background-repeat: no-repeat;
}

/* for the alerts that pop up on certain outcomes--all can be styled the same */
.bj-alert {
  width: 100%;
  margin: 0 auto;

  font-size: 4rem;
  color: #FF7F50;
  text-align: center;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

  animation: game-alert 4s ease 1;
}

/* keyframes rule for the in-game alerts */
@keyframes game-alert {
  100% {
     transform: translate(0px, -225px);
  }
}

/* for the blackjack table image at the bottom of the app */
footer img {
  padding: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;

  border-radius: 25px;
}

/* image that will scroll up the screen once the player is completely out of money */
.game-over-image {
  width: 80%;
  max-width: 735px;

  margin: 0 auto;

  display: block;

  animation: roll-credits 30s ease 1;
}

/* keyframes rule for the game over screen */
@keyframes roll-credits {
  100% {
     transform: translate(0px, -400px);
  }
}

/* reset button will be appended to the main after the game over image, and will be animated in the exact same way */
.reset-button {
  display: block;
  float: none;

  margin: 1rem auto;
  padding: 4rem;
  font-size: 3rem;

  animation: roll-credits 30s ease 1;
}

/* media query for a medium-ish screen */
@media (max-width: 925px) {
  .intro-head {
    font-size: 2rem;
  }

  header, main > section {
    font-size: 1rem;
  }

  main > section {
    height: 600px;
  }

  section h2, .bet-stuff {
    font-size: 1rem;
  }

  section h2 {
    border: 7.5px double white;
  }

  .bj-alert, .reset-button {
    font-size: 2.5rem;
  }

  .reset-button {
    padding: 2rem;
  }

  #player-bet, button {
    font-size: .75rem;
  }

  @keyframes game-alert {
    100% {
       transform: translate(0px, -450px);
    }
  }
}

/* media query for a smaller screen */
@media (max-width: 650px) {
  .intro-head {
    font-size: 1.5rem;
  }

  main > section, header {
    font-size: .75rem;
  }

  main > section {
    height: 700px;
  }

  section h2, .bet-stuff {
    font-size: .75rem;
  }

  section h2 {
    border: 5px double white;
  }

  .bj-alert, .reset-button {
    font-size: 1.5rem;
  }

  .reset-button {
    padding: 1.5rem;
  }

  #player-bet, button {
    font-size: .5rem;
  }

  #player-bet {
    width: 8.5rem;
  }

  @keyframes game-alert {
    100% {
       transform: translate(0px, -550px);
    }
  }
}
