* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*.modal {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 2;
display: block;
overflow: auto;
overflow-y: scroll;
}*/

body {
  /*z-index: 1*/
  background: green;
  /*filter: blur(20px);*/
}

header {
  background: steelblue;
  width: 80%;

  padding: 2rem;
  margin: 0 auto;

  overflow: auto;
}

.player-name {
  float: left;

  background: tan;
}

.total-cash {
  float: right;

  background: tan;
}

main {
  width: 80%;
  margin: 0 auto;
  overflow: auto;
}

main > section {
  float: left;
  background: floralwhite;
  width: 50%;
  min-height: 400px;
  padding: 3rem 0.5rem;
}

.dealer-face {
  /*height: 50px;
  width: 30px;*/

}

main {
  box-shadow: 2px 2px 3px black;
}

.card-in-play {
  width: 42px;
  height: 62px;

  background: url(images/CardsSpriteSheet.png) 0 0;
  background-repeat: no-repeat;
  /*background-size: contain;*/
}

.dealer-cards .card-in-play:first-of-type {
  max-width:100%;
  max-height:100%;

  background: url(images/mario-cards-back.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;

  background-position: 0px 0px !important;
}

footer {
  padding: 1rem;
  text-align: center;
}
